* {
    margin: 0;
    padding: 0;
}

body {
    border: 2px solid blue;
    margin: 30px;
}
/* 1 value -> first (top, left, bottom, right */
/* 2 values -> first(top, bottom), second (left, right) */
/* 3 values -> first (top), second (left and right), third (bottom)*/
/* 4 values -> first (top), second (right), third (bottom), forth(left) */
.box {
    border: 2px solid red;
    padding: 30px; 
    margin: 20px;
}

p {
    text-align: justify;
    text-align: end;
}